*.*
*
.*
!*.xml
!*.java
!*.svg
!*.py
!project.properties
!.gitignore
!makefile
!readme
!license

!src/
!src/TerrainGIS/

!src/TerrainGIS/src/
!src/TerrainGIS/src/**/

!src/TerrainGIS/res/
!src/TerrainGIS/res/**/

!src/drag-sort-listview/

!src/drag-sort-listview/src/
!src/drag-sort-listview/src/**/

!src/drag-sort-listview/res/
!src/drag-sort-listview/res/**/

!drawable/
!drawable/**/
