*.*
*
.*
!*.xml
!*.java
!*.svg
!*.py
!project.properties
!.gitignore
!makefile
!readme
!license

!src/

# TerrainGIS ===========================
!src/TerrainGIS/

!src/TerrainGIS/src/
!src/TerrainGIS/src/**/

!src/TerrainGIS/res/
!src/TerrainGIS/res/**/

!src/TerrainGIS/libs/
!src/TerrainGIS/libs/**/
!src/TerrainGIS/libs/**/*.so

# drag-sort-listview ===================
!src/drag-sort-listview/

!src/drag-sort-listview/src/
!src/drag-sort-listview/src/**/

!src/drag-sort-listview/res/
!src/drag-sort-listview/res/**/

!src/drag-sort-listview/libs/
!src/drag-sort-listview/libs/**/
!src/drag-sort-listview/libs/**/*.jar

# drawable =============================
!drawable/
!drawable/**/
