*.*
*
.*
!*.xml
!*.java
!*.svg
!*.py
!project.properties
!.gitignore
!makefile

!src/
!src/TerrainGIS/
!src/TerrainGIS/src/
!src/TerrainGIS/src/cz/
!src/TerrainGIS/src/cz/kalcik/
!src/TerrainGIS/src/cz/kalcik/vojta/
!src/TerrainGIS/src/cz/kalcik/vojta/*/

!src/TerrainGIS/src/cz/kalcik/vojta/terraingis/*/

!src/TerrainGIS/src/cz/kalcik/vojta/shapefilelib/*/
!src/TerrainGIS/src/cz/kalcik/vojta/shapefilelib/*/*/
!src/TerrainGIS/src/cz/kalcik/vojta/shapefilelib/*/*/*/

!src/TerrainGIS/res/
!src/TerrainGIS/res/*/

!pomocne/
!pomocne/drawable/
!pomocne/drawable/*/
